body {
  margin: auto;
  position: relative;
  max-width: 1800px;
}

.header{
  background-image: url(./assets/background.jpg);
  background-repeat: no-repeat;
  background-position: center 15px;
  margin: auto;
}

.header .container{  
  max-width: 1430px;
  margin: auto;
  width: 100%;
  height: 917px;
}

@font-face{
  font-family: 'titillium-neutron';
  src: url('./assets/fonts/titilliumweb.woff') format('woff');
}
@font-face{
  font-family: 'titillium-bold-neutron';
  src: url('./assets/fonts/titilliumwebbold.woff') format('woff');
  font-weight: bold;
}
@font-face{
  font-family: 'titillium-semibold-neutron';
  src: url('./assets/fonts/titilliumwebsemibold.woff') format('woff');
  font-weight: bold;
}
.logo_languages{

}

.nav_login{

}

.grid{
  display: grid;
  grid-template-columns: 1430px;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  
}
.top_navbar{
  display: grid;
  position: relative;
  padding-top: 78px;
  padding-left: 15px;
  padding-right: 15px;
  grid-template-columns: 3fr 2fr 1fr;
}

.languages{
  width: 236px;
}

.languages ul{
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  padding-top: 3px;
  grid-template-columns: 236px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'titillium-neutron';
  font-size: 14px;
  color: #959595;
  letter-spacing: 0.5px;
}
.languages ul .active{
  font-family: 'titillium-bold-neutron';
}
.languages ul .active::before{
  content : '';
  position: absolute;
  top: 24px;
  height: 1px;
  width: 46px;
  background-color: #bfc5d4;
}

.languages ul li ~ li{
  padding-left: 23px;
}

.logo_languages{
  padding-top: 7px;
}
ul li{
  list-style-type: none ;

}

ul{
  padding: 0px;
}
.languages ul li:not(:last-of-type)::after{
  content : '/';
  position: absolute;
  padding-left: 10px;
  height: 5px;
  width: 10px;
}


.nav ul{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6px;
  -webkit-align-self: start;
      -ms-flex-item-align: start;
          align-self: start;
  padding-left: 30px;
}
.nav ul li{
  color: #454545;
  font-family: 'titillium-neutron';
  font-size: 16px;
}
.nav ul li ~ li{
  padding-left: 27px;
}
.login-box{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.login-box{
  font-family: serif;
  font-family: 'titillium-bold-neutron';
  font-size: 16px;
  letter-spacing: 0.8px;
}
.sign-up{
  display: grid;
  width: 94px;
  height: 40px;
  background-image: -webkit-linear-gradient(80deg, #5c3181, #6278ce);
  background-image: -o-linear-gradient(80deg, #5c3181, #6278ce);
  background-image: linear-gradient(10deg, #5c3181, #6278ce);
  -webkit-border-radius: 20px;
          border-radius: 20px;
  text-align: center;
}
.sign-up span{
  display: block;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  color: #fff;
  margin-top: -5px;
}
.log-in{
  display: grid;
  width: 80px;
  height: 40px;
  margin-top: -2px;
  padding-left: 56px;
  text-align: center;
  position: relative;
}
.log-in::before{
  content: '';
  position: absolute;
  background-image: url(./assets/log_in_before.jpg);
  height: 15px;
  width: 15px;
  top: 12px;
  left: 51px;
  background-repeat: no-repeat;
  background-position: center;
}
.log-in span{

  color: #454545;
  display: block;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}
.header_main {
  height: 700px;
  text-align: center;
  font-family: 'titillium-semibold-neutron';
  font-size: 31px;
  color: #6f6f6e;
  margin-top: 131px;
}
.header_main h1{
  margin: 0px;
  letter-spacing: -0.2px;
}
.header_main p{
  font-family: 'titillium-neutron';
  margin-top: -10px;
  letter-spacing: -0.5px;
}
.header_main p {
  font-size: 38px;
}
.header_main p span{
  color:#fc2028;
}
.button-block .button{
  width: 246px;
  height: 56px;
  background-image: -webkit-linear-gradient(80deg, #5c3181, #6278ce);
  background-image: -o-linear-gradient(80deg, #5c3181, #6278ce);
  background-image: linear-gradient(10deg, #5c3181, #6278ce);
  -webkit-border-radius: 40px;
          border-radius: 40px;
}
.button-block .apple-button{
  width: 46px;
  height: 46px;
  background-image: -webkit-linear-gradient(80deg, #5c3181, #6278ce);
  background-image: -o-linear-gradient(80deg, #5c3181, #6278ce);
  background-image: linear-gradient(10deg, #5c3181, #6278ce);
  -webkit-border-radius: 23px;
          border-radius: 23px;
}
.button-block .play-button{
  width: 46px;
  height: 46px;
  background-image: -webkit-linear-gradient(80deg, #5c3181, #6278ce);
  background-image: -o-linear-gradient(80deg, #5c3181, #6278ce);
  background-image: linear-gradient(10deg, #5c3181, #6278ce);
  -webkit-border-radius: 23px;
          border-radius: 23px;
}
.button-block{
  width: 400px;
  border: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 27px;
  padding-left: 16px;
}
.button-block button{
  border: none;
  color: #fff;
  font-size: 18px;
  font-family: 'titillium-bold-neutron';
  letter-spacing: 0.1px;
}
.social{
  position: absolute;
  right: 35px;
  top: 305px;
  display: grid;
}
.social ul> *{
  padding-bottom: 11px;
}
.social li{
  font-size: 22px;
  color: #737373;
}
.button-block .button{

  padding-bottom: 5px;
  padding-left: 4px;
  z-index: 2;
}
.button-block{
  position: relative;
  z-index: 2;
}
.button-block::after{
  content: "";
  position: absolute;
  top: 49px;
  left: -110px;
  width: 602px;
  height: 57px;
  background-image: url("./assets/button_bg.png");
  z-index: 1;
}
.wrap-button-block{
  width: 300px;
}

.button-block .wrap{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 25px;
}
.button-block .wrap .play-button{
  margin-left: 21px;
  z-index: 2;
}
.button-block .wrap .apple-button{
  z-index: 2;
}
.button-block .wrap .apple-button img{
  margin-top: 5px;
  margin-left: 1px;
}
.button-block .wrap .play-button img{
  margin-top: 7px;
  margin-left: 2px;
}

.main{
  max-width: 1400px;
  margin: auto;
}
.opportunites{
  display: grid;
  grid-template-columns: 375px 375px 375px;
  grid-gap:60px;
  padding-left: 80px;
}
.opportunites > *{
  padding-left: 45px;
}
.logo{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
}
.logo_one{
  width: 42px;
  height: 50px;
  margin-left: -4px;
}
.logo h2, p{
  margin: 0;
  margin-left: 20px;
}
.logo h2{
  font-family: 'titillium-neutron';
  font-size: 30px;
  color: #555555;
}
.logo p{
  font-family: 'titillium-neutron';
  font-size: 18px;
  color: #959393;
}
.about-txt{
  font-family: 'titillium-neutron';
  font-size: 14px;
  color: #959393;
}
.logo-two{
  width: 50px;
  height: 41px;
  margin-left: -5px;
  margin-top: 2px;
}
.logo-three{
  width: 43px;
  height: 43px;
  margin-left: 2px;
  margin-top: 4px;
}

@media (max-width: 992px) {
  .top_navbar{
    grid-template-columns: repeat(auto-fit,minmax(500px, 1fr));
  } 
  .logo_languages{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;  }
    .logo_languages >*{
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center;  
      padding-left: 20px;
    }
  .top_navbar > *{
    justify-self: center;
  } 
  .social{
    display: none;
  }
}
@media (max-width: 768px) {
  .top_navbar{
    grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
  } 
  .button-block::after{
    display: none;
  }
  .nav ul li ~ li{
    padding-left: 10px;
  }
  .languages{
    display: none;
  }
}
@media (max-width: 480px) {
  .top_navbar{
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
  } 
  .header_main{
    font-size: 24px;
    line-height: 45px;
  }
  .header_main p{
    margin-top: 20px;
    font-size: 26px;
  }
  .button-block{
    display: grid;
    padding-left: 0px;
  }
  .button-block > *{
    justify-self: center;
  }
  .button-block .wrap{
    margin-top: 30px;
    padding-left: 0px;
  }
  .button-block{
    width: auto;
  }
  .nav ul{
    padding-left: 0px;
  }
  .logo_languages >*{
    padding-left: 0px;
  }
  
}