body {
  margin: auto;
  position: relative;
  max-width: 1800px;
}

.header{
  background-image: url(./assets/img/background.jpg);
  background-repeat: no-repeat;
  background-position: center 15px;
  margin: auto;
}

.header .container{  
  max-width: 1430px;
  margin: auto;
  width: 100%;
  height: 917px;
}

@font-face{
  font-family: 'titillium-neutron';
  src: url('./assets/fonts/titilliumweb.woff') format('woff');
}
@font-face{
  font-family: 'titillium-bold-neutron';
  src: url('./assets/fonts/titilliumwebbold.woff') format('woff');
  font-weight: bold;
}
@font-face{
  font-family: 'titillium-semibold-neutron';
  src: url('./assets/fonts/titilliumwebsemibold.woff') format('woff');
  font-weight: bold;
}

@font-face{
  font-family: 'malaga';
  src: url('./assets/fonts/MalagaOT-RegItalic.otf') format('opentype');
}

.grid{
  display: grid;
  grid-template-columns: 1430px;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  
}
.top_navbar{
  display: grid;
  position: relative;
  padding-top: 78px;
  padding-left: 15px;
  padding-right: 15px;
  grid-template-columns: 3fr 2fr 1fr;
}

.languages{
  width: 236px;
}

.languages ul{
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  padding-top: 3px;
  grid-template-columns: 236px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'titillium-neutron';
  font-size: 14px;
  color: #959595;
  letter-spacing: 0.5px;
}
.languages ul .active{
  font-family: 'titillium-bold-neutron';
}
.languages ul .active::before{
  content : '';
  position: absolute;
  top: 24px;
  height: 1px;
  width: 46px;
  background-color: #bfc5d4;
}

.languages ul li ~ li{
  padding-left: 23px;
}
.languages ul li {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.logo_languages{
  padding-top: 7px;
}
ul li{
  list-style-type: none ;

}

ul{
  padding: 0px;
}
.languages ul li:not(:last-of-type)::after{
  content : '/';
  position: absolute;
  padding-left: 10px;
  height: 5px;
  width: 10px;
}


.nav ul{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6px;
  -webkit-align-self: start;
      -ms-flex-item-align: start;
          align-self: start;
  padding-left: 30px;
}
.nav ul li{
  color: #454545;
  font-family: 'titillium-neutron';
  font-size: 16px;
}
.nav ul li ~ li{
  padding-left: 27px;
}
.login-box{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.login-box{
  font-family: serif;
  font-family: 'titillium-bold-neutron';
  font-size: 16px;
  letter-spacing: 0.8px;
}
.sign-up{
  display: grid;
  width: 94px;
  height: 40px;
  background-image: -webkit-linear-gradient(80deg, #5c3181, #6278ce);
  background-image: -o-linear-gradient(80deg, #5c3181, #6278ce);
  background-image: linear-gradient(10deg, #5c3181, #6278ce);
  -webkit-border-radius: 20px;
          border-radius: 20px;
  text-align: center;
  -webkit-box-shadow: 0px 10px 15px #6278ce;
          box-shadow: 0px 10px 15px #6278ce;
}
.button-block button{
  -webkit-box-shadow: 0 0 10px #5c3181;
          box-shadow: 0 0 10px #5c3181;
}
.sign-up span{
  display: block;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  color: #fff;
  margin-top: -5px;
}
.upgraid{
  -webkit-box-shadow: 0px 5px 15px #5c3181;
          box-shadow: 0px 5px 15px #5c3181;
}
.donate{
  -webkit-box-shadow: 0px 5px 15px #35bbe0;
          box-shadow: 0px 5px 15px #35bbe0;
}
.log-in{
  display: grid;
  width: 80px;
  height: 40px;
  margin-top: -2px;
  padding-left: 56px;
  text-align: center;
  position: relative;
}
.log-in::before{
  content: '';
  position: absolute;
  background-image: url(./assets/img/log_in_before.jpg);
  height: 15px;
  width: 15px;
  top: 12px;
  left: 51px;
  background-repeat: no-repeat;
  background-position: center;
}
.log-in span{

  color: #454545;
  display: block;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}
.header_main {
  height: 700px;
  text-align: center;
  font-family: 'titillium-semibold-neutron';
  font-size: 31px;
  color: #6f6f6e;
  margin-top: 131px;
}
.header_main h1{
  margin: 0px;
  letter-spacing: -0.2px;
}
.header_main p{
  font-family: 'titillium-neutron';
  margin-top: -10px;
  letter-spacing: -0.5px;
}
.header_main p {
  font-size: 38px;
}
.header_main p span{
  color:#fc2028;
}
.button-block .button{
  width: 246px;
  height: 56px;
  background-image: -webkit-linear-gradient(80deg, #5c3181, #6278ce);
  background-image: -o-linear-gradient(80deg, #5c3181, #6278ce);
  background-image: linear-gradient(10deg, #5c3181, #6278ce);
  -webkit-border-radius: 40px;
          border-radius: 40px;
}
.button-block .apple-button{
  width: 46px;
  height: 46px;
  background-image: -webkit-linear-gradient(80deg, #5c3181, #6278ce);
  background-image: -o-linear-gradient(80deg, #5c3181, #6278ce);
  background-image: linear-gradient(10deg, #5c3181, #6278ce);
  -webkit-border-radius: 23px;
          border-radius: 23px;
}
.button-block .play-button{
  width: 46px;
  height: 46px;
  background-image: -webkit-linear-gradient(80deg, #5c3181, #6278ce);
  background-image: -o-linear-gradient(80deg, #5c3181, #6278ce);
  background-image: linear-gradient(10deg, #5c3181, #6278ce);
  -webkit-border-radius: 23px;
          border-radius: 23px;
}
.button-block{
  width: 400px;
  border: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 27px;
  padding-left: 16px;
}
.button-block button{
  border: none;
  color: #fff;
  font-size: 18px;
  font-family: 'titillium-bold-neutron';
  letter-spacing: 0.1px;
}
.social{
  position: absolute;
  right: 35px;
  top: 305px;
  display: grid;
}
.social ul> *{
  padding-bottom: 11px;
}
.social li{
  font-size: 22px;
  color: #737373;
}
.button-block .button{

  padding-bottom: 5px;
  padding-left: 4px;
  z-index: 2;
}
.button-block{
  position: relative;
  z-index: 2;
}
.button-block::after{
  content: "";
  position: absolute;
  top: 49px;
  left: -110px;
  width: 602px;
  height: 57px;
  background-image: url("./assets/img/button_bg.png");
  z-index: 1;
}
.wrap-button-block{
  width: 300px;
}

.button-block .wrap{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 25px;
}
.button-block .wrap .play-button{
  margin-left: 21px;
  z-index: 2;
}
.button-block .wrap .apple-button{
  z-index: 2;
}
.button-block .wrap .apple-button img{
  margin-top: 5px;
  margin-left: 1px;
}
.button-block .wrap .play-button img{
  margin-top: 7px;
  margin-left: 2px;
}

.main{
  max-width: 1400px;
  margin: auto;
}
.opportunites{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px,375px));
  grid-gap:60px;
  padding-left: 80px;
}
.opportunites > *{
  padding-left: 45px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}
.opportunity .logo{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  margin-bottom: 26px;
}
.opportunity .logo h2{
  margin: 0;
  margin-top: -10px;
  margin-left: 15px;
  letter-spacing: 0.5px;
}
.opportunity .logo_one{
  margin-top: -25px;
  margin-left: -4px;
}
.opportunity .logo .topic-first{
  margin-top: -29px;
  margin-left: 18px;
}

.opportunity .logo h2{
  font-family: 'titillium-neutron';
  font-size: 30px;
  color: #555555;
  font-weight: 200;
}
.opportunity .logo p{
  margin: 0;
  margin-top: -10px;
  margin-left: 20px;
}
.opportunity .logo p{
  font-family: 'titillium-neutron';
  font-size: 18px;
  color: #959393;
}
.about-txt{
  font-family: 'titillium-neutron';
  font-size: 14px;
  color: #959393;
}
.opportunity .logo .logo_one{
  width: 42px;
  height: 50px;
  margin-left: -4px;
  margin-top: -21px;
}
.logo-two{
  width: 50px;
  height: 41px;
  margin-left: -5px;
  margin-top: 2px;
}
.logo-three{
  width: 43px;
  height: 43px;
  margin-left: 2px;
  margin-top: 4px;
}
.physical_security h3{
  color: #535353;
  font-family: 'titillium-neutron';
  font-size: 60px;
  margin: 0;
}
.physical_security p{
  color: #535353;
  font-family: 'titillium-neutron';
  font-size: 24px;
  margin: 0;
  line-height: 22px;
  letter-spacing: 0.3px;
  margin-right: 5px;
  margin-top: 2px;
}
.physical_security p span{
  color: red;

}
.opportunity{
  position: relative;
}
.opportunity_line_first::before{
  content: "";
  position: absolute;
  width: 1px;
  height: 210px;
  background-color: #b9b9b9;
  left: -1px;
  top: -132px;
}
.opportunity_line_second::before{
  content: "";
  position: absolute;
  width: 1px;
  height: 434px;
  background-color: #b9b9b9;
  left: -4px;
}
.physical_security{
  width: 700px;
  text-align: right;
  margin-left: 209px;
  margin-top: 107px;
  letter-spacing: 0.7px;

}
.learn_button{
  width: 334px;
  height: 62px;
  -webkit-border-radius: 35px;
          border-radius: 35px;
  font-size: 16px;
  font-family: 'titillium-neutron';
  background-color: #fff;
  color: #676767;
  border-color: #676767;
  border: 1px solid;
  margin-left: 565px;
  margin-top: 27px;
  letter-spacing: 0.4px;
  padding-bottom: 8px;
  position: relative;

}

.learn_button::before{
  content: "";
  position: absolute;
  width: 975px;
  height: 1px;
  background-color: #bfbfbf;
  left: -976px;
  bottom: 30px;
}
.section{
  position: relative;
}
.brands{
  position: relative;
  height: 40px;
  width: 940px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 47px;
  left: 35px;
}
.brands .brand_name:nth-child(1){
  background-image: url(./assets/img/brands.jpg);
  width: 128px;
  height: 40px;
  background-position: 0 0;
  
}
.brands .brand_name:nth-child(2){
  background-image: url(./assets/img/brands.jpg);
  width: 128px;
  height: 40px;
  background-position: -160px 0;
  margin-left: 33px;
}
.brands .brand_name:nth-child(3){
  background-image: url(./assets/img/brands.jpg);
  width: 128px;
  height: 40px;
  background-position: -325px 0;
  margin-left: 37px;
}
.brands .brand_name:nth-child(4){
  background-image: url(./assets/img/brands.jpg);
  width: 128px;
  height: 40px;
  background-position: -500px 0;
  margin-left: 47px;
}
.brands .brand_name:nth-child(5){
  background-image: url(./assets/img/brands.jpg);
  width: 155px;
  height: 40px;
  background-position: -640px 0;
  margin-left: 12px;
}
.brands .brand_name:nth-child(6){
  background-image: url(./assets/img/brands.jpg);
  width: 60px;
  height: 45px;
  background-position: -848px 0;
  margin-left: 52px;
}
.about-text ul{
  font-family: "malaga";
  font-size: 23px;
  letter-spacing: 0.7px;
  color: #101010;
}
.about-text ul li span{
  font-family: "malaga";
  font-size: 15px;
  letter-spacing: 0.7px;
}
.about-text li{
  margin-bottom: 6px;
  position: relative;
}
.li_round::before{
  content: "";
  position: absolute;
  top: 4px;
  left: -40px;
  width: 13px;
  height: 13px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background-color: #101010;
}
.li_round_grey::before{
  content: "";
  position: absolute;
  top: -4px;
  left: -39px;
  width: 11px;
  height: 11px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-color: #b7b7b7;
}
.li_round_grey_second::before{
  content: "";
  position: absolute;
  top: -12px;
  left: -39px;
  width: 11px;
  height: 11px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-color: #b7b7b7;
}
.about-text{
  width: 565px;
  margin-left: 404px;
  margin-top: 126px;
}
.section{
  z-index: 0;
  position: relative;
  
}
.application{
  background-color: #f5f5f5;
  margin-top: -99px;
  width: 100%;
  -webkit-clip-path: polygon(0 69%, 100% 7%, 100% 100%, 0% 100%);
          clip-path: polygon(0 69%, 100% 7%, 100% 100%, 0% 100%);
  z-index: 0;
  display: grid;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
      -ms-flex-pack:center;
          justify-content:center;
  position: relative;
  height: 327px;
}
.about-text::after{
  content:"";
  background-image: url("./assets/img/pc_bg.png");
  width: 578px;
  height: 670px;
  position: absolute;
  right: 270px;
  top: 146px;
  overflow: visible;
  z-index: 1;
}


.download-box {
  position: relative;
  /* padding-top: 182px; */
  width: 450px;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  padding-right:32px;
  z-index: 6;
  margin-top: -145px;

}
.download-box h4{
  font-family: 'titillium-neutron';
  font-size: 36px;
  color: #535353;
  letter-spacing: 0.2px;
  margin: 0;
}
.buttons-box{
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 14px;
  padding-left: 41px;
  z-index: 6;
  background-color: #f5f5f5;
}
.section:after{
  content:"";
  width: 1400px;
  height: 1px;
  position: absolute;
  background-color:#b9b9b9;
  top: 798px;
  right: 0px;
}
.buttons-box button{
  width: 180px;
  height: 55px;
  background-color: #050708;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  border: none;
  z-index: 5;
}
.buttons-box button:nth-child(1){
  margin-right: 13px;
}
.download-box p{
  font-family: 'titillium-neutron';
  font-size: 16px;
  color: #959393;
  margin-top: 8px;
  letter-spacing: 0.2px;
  padding-right: 2px;
  line-height: 22px;
}
.app-store_button{
  background-image: url('./assets/img/apple_download.jpg');
  background-position: center;
}
.google-play_button{
  background-image: url('./assets/img/google_download.jpg');
  background-position: center;
}

.payment-box h4{
  font-family: 'titillium-neutron';
  font-size: 36px;
  color: #535353;
  letter-spacing: 0.2px;
  margin: 0;
  text-align: center;
  font-weight: 400;
}
.payment-box p{
  font-family: 'titillium-neutron';
  font-size: 29px;
  color: #7c7c7c;
  letter-spacing: 0.2px;
  margin-top: -10px;
  text-align: center;
  font-weight: 400;

}
.payment-box_buttons{
  margin: auto;
  width: 465px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

}
.payment-box_buttons .upgraid{
  height: 56px;
  width: 247px;
  border: none;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  margin-top: 5px;
  margin-left: 2px;
  background-image: -webkit-gradient(linear, left top, right top, from(#646c92), to(#5f2e69));
  background-image: -webkit-linear-gradient(left, #646c92, #5f2e69);
  background-image: -o-linear-gradient(left, #646c92, #5f2e69);
  background-image: linear-gradient(90deg, #646c92, #5f2e69);
  color: #fff;
  padding-top: 0px;
}
.payment-box_buttons .upgraid span{
  font-family: 'titillium-bold-neutron';
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.4px;
  padding-left: 9px;
}
.payment-box_buttons .upgraid i{
  font-size: 18px;
}

.payment-box_buttons .upgraid{
  padding-left: 8px;
}
.payment-box_buttons .donate{
  height: 56px;
  width: 166px;
  border: none;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  margin-top: 5px;
  background-image: -webkit-gradient(linear, left top, right top, from(#35bbe0), to(#5e7bea));
  background-image: -webkit-linear-gradient(left, #35bbe0, #5e7bea);
  background-image: -o-linear-gradient(left, #35bbe0, #5e7bea);
  background-image: linear-gradient(90deg, #35bbe0, #5e7bea);
  margin-left: 52px;
  color: #fff;
}
.payment-box_buttons .donate i{
  font-size: 18px;
}
.payment-box_buttons .donate span{
  font-family: 'titillium-bold-neutron';
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.4px;
  padding-left: 9px;
}
.payment-box{
  position: relative;
  padding-top: 233px;
  background-color: #fff;
  background-color:#f5f5f5;
  padding-bottom: 90px;
}
.payment-box::after{
  content:"";
  width: 1400px;
  height: 1px;
  position: absolute;
  background-color:#b9b9b9;
  top: 495px;
  left: 0px;
}
.footer .technologies{
  width: 1000px;
  margin: auto;
  text-align: right;
  padding-right: 43px;
}

.footer .technologies p{
  font-size: 14px;
  color: #7a7a7a;
  letter-spacing: 0.2px;
  font-family: 'titillium-neutron';
  padding-top: 11px;
}
.footer .technologies p{
margin: 0;
}
.technologies_name{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: flex-end;   */

}
.technologies{
  position: relative;
}
.technologies_name{
  padding-left:103px;
  margin-top: 21px;
}
.technology:nth-child(1){
  width: 85px;
  height: 50px;
  background-image: url("./assets/img/technologies.png");
  background-position: 9px 0;
  background-repeat: no-repeat;
}
.technology:nth-child(2){
  width: 82px;
  height: 50px;
  background-image: url("./assets/img/technologies.png");
  background-position: -126px 0;
  background-repeat: no-repeat;
  margin-left: 50px;
}
.technology:nth-child(3){
  width: 120px;
  height: 50px;
  background-image: url("./assets/img/technologies.png");
  background-position: -254px 0;
  background-repeat: no-repeat;
  margin-left: 46px;
}
.technology:nth-child(4){
  width: 120px;
  height: 50px;
  background-image: url("./assets/img/technologies.png");
  background-position: -390px 0;
  background-repeat: no-repeat;
  margin-left: 16px;
}
.technology:nth-child(5){
  width: 80px;
  height: 50px;
  background-image: url("./assets/img/technologies.png");
  background-position: -560px 0;
  background-repeat: no-repeat;
  margin-left: 50px;
}
.technology:nth-child(6){
  width: 140px;
  height: 50px;
  background-image: url("./assets/img/technologies.png");
  background-position: -652px 0;
  background-repeat: no-repeat;
  margin-left: 12px;
}
.technology:nth-child(7){
  width:46px;
  height: 50px;
  background-image: url("./assets/img/technologies.png");
  background-position: -843px 0;
  background-repeat: no-repeat;
  margin-left: 51px;
}
.technologies::after{
  content:"";
  width: 1px;
  height: 440px;
  position: absolute;
  background-color:#b9b9b9;
  top: -7px;
  right: 21px;
}
.map{
  color:#5c5c5c;
}
.footer{
  background-color: #f5f5f5;
}
.technology{
  background-color: #f5f5f5;
}
.map{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top:159px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  margin-left: 200px;
}
.mail{
  font-family: 'titillium-neutron';
  font-size: 14px;
  line-height: 23px;
  padding-left: 21px;

}
.mail a{
  color: #5c5c5c;
  text-decoration: none;
}

.map .support p{
  font-family: 'titillium-neutron';
  font-size: 14px;
  margin: 0;
  letter-spacing: 0.2px;
  margin-top: 23px;
}
.map .support a{
  position: relative;
  font-family: 'titillium-bold-neutron';
  font-size: 14px;
  margin: 0;
  letter-spacing: 0.1px;
  color: #5c5c5c;
  text-decoration: none;
  z-index: 1;
}
.map .support a:after{
  content:"";
  width: 160px;
  height: 2px;
  position: absolute;
  background-color:#e6e6e6;
  top: 18px;
  right: 0;
  z-index: 0;
}
.map .company {
  width: 159px;
  font-family: 'titillium-bold-neutron';
  font-size: 18px;
  margin-top: 14px;
  text-align: right;
  position: relative;
}
.map .legal {
  width: 272px;
  font-family: 'titillium-bold-neutron';
  font-size: 18px;
  margin-top: 14px;
  text-align: right;
}
.right_map_side{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding-right: 26px;
}
.map .neutronmail {
  width: 218px;
  font-family: 'titillium-bold-neutron';
  font-size: 18px;
  margin-top: 14px;
  text-align: right;
  padding-right: 1px;

}
.map .company ul {
  margin-top: 22px;
  margin-right: 12px;
  letter-spacing: 0.3px;

}
.map .company:after {
  content:"";
  width: 1px;
  height: 316px;
  position: absolute;
  background-color:#b9b9b9;
  top: 3px;
  right: -27px;
}
.map .legal ul {
  margin-top: 22px;
  margin-right: 12px;
  letter-spacing: 0.3px;
}
.map .neutronmail ul {
  margin-top: 22px;
  margin-right: 12px;
  letter-spacing: 0.3px;
}
.map .company ul li{
  font-family: 'titillium-neutron';
  font-size: 14px;
  list-style-type: square;
  direction: rtl;
  margin-bottom: 2px;
  -webkit-margin-end: 4px;
          margin-inline-end: 4px;
}
.map .legal ul li{
  font-family: 'titillium-neutron';
  font-size: 14px;
  list-style-type: square;
  direction: rtl;
  margin-bottom: 2px;
  -webkit-margin-end: 4px;
          margin-inline-end: 4px;
}
.map .neutronmail ul li{
  font-family: 'titillium-neutron';
  font-size: 14px;
  list-style-type: square;
  direction: rtl;
  margin-bottom: 2px;
  -webkit-margin-end: 4px;
          margin-inline-end: 4px;
}

.mail span{
  font-family: 'titillium-bold-neutron';
  font-size: 14px;
  letter-spacing: 0.2px;
  padding-left: 3px;
}

.footer_social{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 360px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 59px;
  margin-left: 202px;
}
.social_link{
  font-family: 'titillium-neutron';
  font-size: 12px;
  color: #5c5c5c;
  position: relative;
}

.copyright{
  margin-top: 12px;
  margin-left: 200px;
  font-family: 'titillium-neutron';
  letter-spacing: 0.1px;
  font-size: 12px;
  color: #5c5c5c;
  padding-bottom: 30px;
}

.languages ul li:hover{
  font-family: 'titillium-bold-neutron';
  cursor: pointer;
}
.nav ul li{
    text-decoration: none;
}
.nav ul li:hover{
  cursor: pointer;
  font-weight: 800;
  margin-top: 5px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color:#582c7e;
}
.about-txt{
  min-width: 360px;
}
.log-in span:hover{
  color:#582c7e;
}
.log-in:hover{
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}
.sign-up:hover{
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;  
}
.social li:hover{
  color: #7f18da;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  cursor: pointer; 
}
.button-block button{
  -webkit-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}
.button-block button:hover{
  background-image: -webkit-linear-gradient(80deg, #fff, #fff);
  background-image: -o-linear-gradient(80deg, #fff, #fff);
  background-image: linear-gradient(10deg, #fff, #fff);
  color: #5c5c5c;
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
  cursor: pointer; 
}

.button-block .wrap button:hover{
  background-image: -webkit-linear-gradient(80deg, rgb(206, 202, 202), rgb(221, 216, 216));
  background-image: -o-linear-gradient(80deg, rgb(206, 202, 202), rgb(221, 216, 216));
  background-image: linear-gradient(10deg, rgb(206, 202, 202), rgb(221, 216, 216));
  color: #5c5c5c;
  -webkit-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
  cursor: pointer;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%); 
}
.button-block .wrap button{

  -webkit-transition: all 2s ease;

  -o-transition: all 2s ease;

  transition: all 2s ease;

}
.buttons-box button:hover{
  margin-top: 5px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}
button, 
button:active, 
button:focus {
    outline: none;
}
.languages li{
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.nav li{
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.footer_social > *{
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.upgraid:hover{
  background-image: -webkit-linear-gradient(80deg, #fff, #fff);
  background-image: -o-linear-gradient(80deg, #fff, #fff);
  background-image: linear-gradient(10deg, #fff, #fff);
  color: #5c5c5c;
  -webkit-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
  cursor: pointer;
}
.upgraid{
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.donate{
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.donate:hover{
  background-image: -webkit-linear-gradient(80deg, #fff, #fff);
  background-image: -o-linear-gradient(80deg, #fff, #fff);
  background-image: linear-gradient(10deg, #fff, #fff);
  color: #5c5c5c;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
  cursor: pointer;
}
.learn_button{
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.learn_button:hover{
  color: #fff;
  background-image: -webkit-linear-gradient(80deg, #5c3181, #6278ce);
  background-image: -o-linear-gradient(80deg, #5c3181, #6278ce);
  background-image: linear-gradient(10deg, #5c3181, #6278ce);
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  cursor: pointer; 
}
.mail li:hover{
  margin-left: 8px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer; 
  color: #5c3181;
  font-weight: 800;
}
.mail .support a:hover{
  margin-left: 8px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer; 
  color: #5c3181;
  font-weight: 800;
}
.company li:hover{
  margin-right: 8px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer; 
  color: #5c3181;
  font-weight: 800;
}
.legal li:hover{
  margin-right: 8px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer; 
  color: #5c3181;
  font-weight: 800;
}
.neutronmail li:hover{
  margin-right: 8px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer; 
  color: #5c3181;
  font-weight: 800;
}
.social_link:hover{
  font-weight: 800;
  cursor: pointer; 
  -webkit-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
  transition: all 0.3s ease;
}
@media (max-width: 1800px) {
  .about-text::after{
    opacity: 0.2;
  }
  .map{
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 1400px) {
  .map .company:after {
    display: none;
  }
  .payment-box::after{
    width: 100%
  }
  .footer_social{
    width: auto;
    margin-left: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .copyright{
    text-align: center;
    margin-left: 0;
  }
  .map{
    margin-left: 0;
    width: auto;
  }
  .technologies::after{
    display: none;
  }
 .footer .technologies{
    padding: 0px;
    margin: auto;
    width: auto;
  }
  .technologies p{
    padding: 10px;
    text-align: center;
  }
  .technologies_name{
    padding: 5px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .opportunites{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap:40px;
    padding-left: 0;
  }  
  .opportunites > *{
    padding-left: 25px;
    padding-right: 25px;
  }
  .physical_security{
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 107px;
    letter-spacing: 0.7px;
    z-index: 0;
  }
  .opportunity_line_second::before{
    display: none;
  }
  .main{
    position: relative;
  }
  .learn_button::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #bfbfbf;
    left: 0px;
    bottom: 29px;
    overflow: hidden;
    z-index: -1;
  }

  .learn_button{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    position: static;
    z-index: 2;
  }
}
@media (max-width: 1250px) {
  .opportunity:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .opportunity:nth-child(2){
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .opportunity:nth-child(3){
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .logo{
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-txt{
    text-align: center;
  }
}

@media (max-width: 992px) {
  .right_map_side{
    padding-right: 0;
  }
  .about-text{
    margin: auto;
    margin-top: 120px;
    text-align: center;

  }
  .map{
    display: grid;
    grid-template-columns: 1fr;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding-top: 25px;
  }
  .right_map_side{
    width: 100%;
  }
  .company{
    max-width: 150px;
  }
  .legal{
    max-width: 150px;
  }
  .neutronmail{
    max-width: 150px;
  }
  .mail{
    margin-top: 25px;
    justify-self: center;
    margin-bottom: 25px;
  }
  .right_map_side{
    justify-self: center;
  }
  .technologies_name{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 25px;
  }
  .technologies_name > *{
    justify-self: center;
  }
  .technology:nth-child(5){
    margin-left: 41px;
  }
  .technology:nth-child(2){
    margin-left:0px;
  }
  .technology:nth-child(1){
    margin-left: 0px;
  }
  .technology:nth-child(3){
    margin-left: 0px;
  }
  .technology:nth-child(4){
    margin-left:0px;
  }
  .technology:nth-child(6){
    margin-left: 0px;
  }
  .technology:nth-child(7){
    margin-left: 0px;
  }
  .top_navbar{
    grid-template-columns: repeat(auto-fit,minmax(500px, 1fr));
  } 
  .logo_languages{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;  }
    .logo_languages >*{
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center;  
      padding-left: 20px;
    }
  .top_navbar > *{
    justify-self: center;
  } 
  .social{
    display: none;
  }
  .section{
    position: relative;
  }
  .brands{
    left: 0px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .brands .brand_name{
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    justify-self: center;
  }
  .brands .brand_name:nth-child(1){
    margin-left: 0px;
  }
  .brands .brand_name:nth-child(2){
    margin-left: 0px;
  }
  .brands .brand_name:nth-child(3){
    margin-left: 0px;
  }
  .brands .brand_name:nth-child(4){
    margin-left: 0px;
  }
  .brands .brand_name:nth-child(5){
    margin-left: 0px;
  }
  .brands .brand_name:nth-child(6){
    margin-left: 0px;
  }

}
@media (max-width: 768px) {
  .payment-box{
    margin-bottom:10px;
  }
  .payment-box::after{
    display: none;
  }
  .download-box{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-right: 0;
    width: auto;
  }
  .buttons-box{
    display: grid;
    grid-gap: 15px;
  }
  .about-text{
    width: auto;
  }

  .about-text ul{
    font-size: 18px;
  }
  .li_round::before{
    left: 10px;
  }
  .li_round_grey::before{
    left: 10px;
  }
  .li_round_grey_second::before{
    left: 10px;
  }
  .opportunites{
    grid-gap:0px;

  }  
  .physical_security {
    margin-top: 50px;
   }
  .physical_security p{
    padding: 10px;
   font-size: 18px;
  }
  .physical_security h3{
    font-size: 38px;
   }
  .logo_languages{
    margin-bottom: 15px;
  }
  .log-in{
    padding-left: 0;
  } 
  .top_navbar{
    grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
  } 
  .button-block::after{
    display: none;
  }
  .nav ul li ~ li{
    padding-left: 10px;
  }
  .languages{
    display: none;
  }

}
@media (max-width: 480px) {
  .about-txt{
    min-width: auto;
  }
  .right_map_side{
    display: grid;
  }
  .technologies_name{
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 25px;
  }
  .top_navbar{
    padding-left: 0;
  }
  .payment-box_buttons{
    width: auto;
  }
  .section:after{
    display: none;
  }
  .payment-box_buttons{
    display: grid;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-text{
    margin-top: 60px;
  }
  .brands{
    display: none;
  }
  .download-box h4{
    font-size: 24px;
  }
  .li_round::before{
    display: none;
  }
  .li_round_grey::before{
    display: none;
  }
  .li_round_grey_second::before{
    display: none;
  }
  .brands{
    top: 20px;
  }
  .learn_button{
    width: 280px;
    height: 60px;
  }
  .top_navbar{
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
  } 
  .header_main{
    font-size: 24px;
    line-height: 45px;
  }
  .header_main p{
    margin-top: 20px;
    font-size: 26px;
  }
  .button-block{
    display: grid;
    padding-left: 0px;
  }
  .button-block > *{
    justify-self: center;
  }
  .button-block .wrap{
    margin-top: 30px;
    padding-left: 0px;
  }
  .button-block{
    width: auto;
  }
  .nav ul{
    padding-left: 0px;
  }
  .logo_languages >*{
    padding-left: 0px;
  }
  .opportunites{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap:20px;
    padding-left: 0;
  }  
}
@media (max-width: 320px) {
  .nav{
    display: none;
  }
  .logo_languages{
    margin-bottom: 15px;
  }
  .login-box{
    display: grid;
  }
  .log-in{
    padding-left: 0;
  }
  .opportunites{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid-gap:10px;
    padding-left: 0;
  }  
}
